/******************************
THEME COLOR VARIBLES
***************************** */
.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center; }

.default-list {
  margin: 0;
  list-style-type: none;
  padding-left: 0; }
  .default-list a:hover {
    text-decoration: none; }

.br-20 {
  border-radius: 20px; }

p:empty {
  margin: 0 !important; }

/******************************
PAGINATION
***************************** */
.pagination {
  position: relative;
  justify-content: center;
  margin-bottom: 50px; }

.pagination a:last-child {
  width: 80px; }

.pagination a:first-child {
  width: 110px; }

.pagination a,
.pagination span {
  position: relative;
  display: flex;
  color: #1b6753;
  text-decoration: none;
  font-size: 16px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-left: 5px; }
  .pagination a:hover,
  .pagination span:hover {
    text-decoration: none; }

.pagination a:before,
.pagination span:before {
  content: "";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1b6753;
  border-radius: 24px;
  transform: scale(0);
  transition: all 0.2s;
  z-index: -1; }

.pagination a:hover,
.pagination span:hover,
.pagination a .pagination-active,
.pagination span.current {
  color: #fff; }

.pagination a:hover:before,
.pagination span:hover:before,
.pagination span.current:before,
.pagination a .pagination-active:before {
  transform: scale(1); }

.pagination .pagination-active {
  color: #fff; }

.pagination .pagination-active:before {
  transform: scale(1); }

.pagination-newer {
  margin-right: 50px; }

.pagination-older {
  margin-left: 50px; }

/******************************
SOCIAL MEDIA
***************************** */
.social-icons {
  display: flex; }
  .social-icons.green-social-icons:before {
    background: red; }
  .social-icons a {
    width: 25px;
    height: 25px;
    background-color: #13392f;
    border-radius: 50px;
    position: relative;
    transition: ease all .5s; }
    .social-icons a svg {
      fill: white; }

/******************************
SOCIAL MEDIA
***************************** */
/******************************
FORM ELEMENT's
***************************** */
.custom-form input[type="text"],
.custom-form input[type="email"] {
  border-radius: 50px;
  border: 0;
  height: 35px;
  font-size: 14px;
  padding-left: 18px;
  color: #eee;
  width: 100%; }
  .custom-form input[type="text"]:focus,
  .custom-form input[type="email"]:focus {
    box-shadow: none;
    outline: none; }
  .custom-form input[type="text"]::-webkit-input-placeholder,
  .custom-form input[type="email"]::-webkit-input-placeholder {
    /* Edge */
    color: #65bda5; }
  .custom-form input[type="text"]:-ms-input-placeholder,
  .custom-form input[type="email"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #65bda5;
    opacity: 0.5; }
  .custom-form input[type="text"]::placeholder,
  .custom-form input[type="email"]::placeholder {
    color: #65bda5;
    opacity: 0.5; }

/******************************
END FORM ELEMENT's
***************************** */
.sec-head {
  font-size: 30px; }

/******************************
NAV DROP DOWN MENU

***************************** */
.dropdown-menu {
  padding: 0 !important;
  width: 247px; }
  .dropdown-menu li {
    padding: 0;
    font-size: 15px; }
    .dropdown-menu li a {
      padding: 7px 10px;
      padding-left: 15px;
      transition: ease all .3s; }
      .dropdown-menu li a:hover {
        background-color: #ff9d00; }

/******************************
THEME BUTTONS
***************************** */
.theme-btn {
  padding: 0 40px;
  display: inline-flex;
  height: 40px;
  border-radius: 50px;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 15px;
  min-width: 120px;
  border: 0; }
  .theme-btn:hover {
    color: #ffffff;
    text-decoration: none; }
  .theme-btn.__primary-btn {
    background: #ff9d00; }
  .theme-btn.__lg-btn {
    padding: 0 60px;
    height: 45px; }

.bp-btn a {
  color: #ff9d00;
  margin-top: 0px;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  transition: ease all .4s; }
  .bp-btn a svg {
    transition: ease all; }
    .bp-btn a svg .path1 {
      fill: #c4cdcb; }
    .bp-btn a svg .path2 {
      fill: #ff9d00; }
  .bp-btn a span {
    display: inline-block;
    margin-left: 8px; }
  .bp-btn a:hover {
    color: #1b6753;
    text-decoration: none; }
    .bp-btn a:hover svg {
      transition: ease all .4s; }
      .bp-btn a:hover svg .path1 {
        fill: #ff9d00; }
      .bp-btn a:hover svg .path2 {
        fill: #1b6753; }

html,
body {
  font-family: 'Comfortaa', cursive !important;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0; }

/******************************
HEADER SECTION
***************************** */
header {
  position: relative; }
  header .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0; }
  header .line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }
  header .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4; }
  header .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4; }
  header .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4; }
  header .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4; }
  header .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4; }
  header .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4; }
  header .header-nav {
    background: #13392f; }
  header .main-navigation .white-bg-after {
    background: white;
    display: flex;
    align-items: center; }
    header .main-navigation .white-bg-after:after {
      position: absolute;
      background: white;
      width: 100%;
      height: 100%;
      right: -553px;
      top: 0; }
    header .main-navigation .white-bg-after button:focus {
      border: 0;
      outline: none; }
  header .main-navigation .navbar-brand {
    padding-left: 60px; }
    header .main-navigation .navbar-brand img {
      width: 140px !important;
      height: 51px; }
  header .main-navigation .navbar-nav .nav-link {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 35px !important;
    font-size: 15px;
    color: #333333;
    position: relative;
    z-index: 1;
    font-weight: 500; }
    header .main-navigation .navbar-nav .nav-link:before {
      content: '';
      position: absolute;
      height: 0;
      width: 100%;
      left: 0;
      top: 0;
      transition: ease all .4s;
      background: #ff9d00;
      z-index: -1; }
    header .main-navigation .navbar-nav .nav-link.active {
      background: #ff9d00; }
    header .main-navigation .navbar-nav .nav-link:hover:before {
      background: #ff9d00;
      height: 100%; }
  header .main-navigation .headernav-social-media {
    margin-right: 30px; }
    header .main-navigation .headernav-social-media .social-icons a {
      transition: ease all .4s; }
      header .main-navigation .headernav-social-media .social-icons a:hover {
        background: #ff9d00; }

/******************************
END HEADER SECTION
***************************** */
/******************************
SLIDER SECTION
***************************** */
.s-bg:before {
  content: '';
  background: #13392f;
  height: 102%;
  width: 50%;
  position: absolute;
  left: 0;
  border-radius: 0 0 30px 0; }

.s-bg-icons {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 30px; }
  .s-bg-icons:before {
    content: '';
    background: url(../images/yellow-icon.png);
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    bottom: -417px;
    left: -45px; }
  .s-bg-icons:after {
    content: '';
    background: url(../images/circle-icon.png);
    position: absolute;
    width: 100%;
    height: 126%;
    background-repeat: no-repeat;
    top: -380px; }

.main-slider-section {
  background: #1b6753;
  margin: 0 35px;
  border-radius: 25px;
  position: relative;
  margin-left: 50px;
  position: relative; }
  .main-slider-section .slider-img-section img {
    margin-top: 30px;
    position: relative;
    right: 40px; }
  .main-slider-section .slider-section-text {
    padding: 0 100px 0 45px;
    padding-top: 70px; }
    .main-slider-section .slider-section-text h1 {
      color: #ffffff;
      font-size: 40px;
      padding-right: 118px; }
    .main-slider-section .slider-section-text p {
      color: #ffffff;
      font-size: 14px;
      margin: 25px 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 62px;
      overflow: hidden;
      text-overflow: ellipsis; }
  .main-slider-section .slider-blog {
    margin-top: 100px;
    margin-bottom: -74px; }
    .main-slider-section .slider-blog h4 {
      color: #ff9d00;
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 25px; }
    .main-slider-section .slider-blog .cat-widget {
      padding-right: 28px;
      padding-left: 28px;
      padding-bottom: 15px;
      box-shadow: none;
      min-height: 207px; }
      .main-slider-section .slider-blog .cat-widget:before {
        content: '';
        width: 85%;
        height: 1%;
        box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 0;
        bottom: 3px;
        margin: 0 auto;
        right: 0;
        z-index: -1; }
      .main-slider-section .slider-blog .cat-widget h5 {
        margin: 13px 0;
        font-size: 17px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 43px;
        height: 43px; }
      .main-slider-section .slider-blog .cat-widget p {
        font-size: 13px;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 56px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word; }
      .main-slider-section .slider-blog .cat-widget .cat-name {
        padding: 4px 8px; }
      .main-slider-section .slider-blog .cat-widget .wd-details .date {
        font-size: 13px; }
      .main-slider-section .slider-blog .cat-widget .wd-details .bp-btn a {
        font-size: 13px; }
    .main-slider-section .slider-blog .slider-blog-items {
      position: relative; }
      .main-slider-section .slider-blog .slider-blog-items .slick-arrow {
        position: absolute;
        top: -40px;
        right: 20px;
        cursor: pointer; }
        .main-slider-section .slider-blog .slider-blog-items .slick-arrow.slick-next {
          right: 58px;
          transform: rotate(180deg); }
      .main-slider-section .slider-blog .slider-blog-items .item.slick-slide {
        margin-left: 13px; }
        .main-slider-section .slider-blog .slider-blog-items .item.slick-slide:focus {
          outline: none; }
        .main-slider-section .slider-blog .slider-blog-items .item.slick-slide:first-child {
          margin-left: 0; }

/******************************
END SLIDER SECTION
***************************** */
/******************************
BLOG SECTION
***************************** */
.main-wrap-blogs {
  background-image: url(../images/pattern-bg.jpg);
  background-repeat: repeat; }

.blog-widget-section h4 {
  font-size: 30px;
  margin-bottom: 40px; }

.blogpost-box {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: ease all .4s; }
  .blogpost-box figure img {
    height: 360px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: ease all .4s; }
  .blogpost-box .bp-details {
    margin-top: -34px;
    padding-left: 44px;
    transition: ease all .3s; }
    .blogpost-box .bp-details .catergory a {
      color: #ffffff;
      background: #ff9d00;
      padding: 5px 22px;
      border-radius: 50px;
      font-size: 15px;
      display: inline-block;
      position: relative;
      z-index: 99; }
    .blogpost-box .bp-details h2 {
      margin: 23px 0;
      font-size: 30px; }
    .blogpost-box .bp-details .bp-date-time {
      color: #1b6753;
      display: flex;
      font-size: 14px;
      align-items: flex-end;
      line-height: normal; }
      .blogpost-box .bp-details .bp-date-time i {
        margin-right: 10px; }
    .blogpost-box .bp-details p {
      color: #666666;
      margin-top: 18px;
      padding-right: 83px;
      word-break: break-all; }

/******************************
END BLOG SECTION
***************************** */
/******************************
FEATURE BLOG
***************************** */
.features-blogs {
  padding-top: 160px;
  padding-bottom: 80px; }
  .features-blogs .slick-initialized .slick-slide {
    display: flex !important;
    margin-left: 1px; }
    .features-blogs .slick-initialized .slick-slide:focus {
      outline: none; }
  .features-blogs .feature-blogs-list .feature-blog-box {
    position: relative;
    margin: 0 10px; }
    .features-blogs .feature-blogs-list .feature-blog-box figure {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      height: 600px;
      transition: ease all .4s;
      cursor: pointer; }
      .features-blogs .feature-blogs-list .feature-blog-box figure:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        transition: ease all .4s;
        bottom: 0; }
      .features-blogs .feature-blogs-list .feature-blog-box figure:hover:before {
        height: 100%; }
      .features-blogs .feature-blogs-list .feature-blog-box figure:hover figcaption {
        background: rgba(255, 157, 0, 0.8);
        transition: ease all 1s; }
      .features-blogs .feature-blogs-list .feature-blog-box figure:hover h4, .features-blogs .feature-blogs-list .feature-blog-box figure:hover p {
        color: #333333; }
      .features-blogs .feature-blogs-list .feature-blog-box figure:hover .cat a {
        background: #1b6753; }
      .features-blogs .feature-blogs-list .feature-blog-box figure:hover .date {
        color: #333333;
        font-weight: 600; }
        .features-blogs .feature-blogs-list .feature-blog-box figure:hover .date svg {
          fill: #333333; }
      .features-blogs .feature-blogs-list .feature-blog-box figure:hover img {
        transform: scale(1.1); }
      .features-blogs .feature-blogs-list .feature-blog-box figure:hover .bp-btn a {
        color: #333333; }
        .features-blogs .feature-blogs-list .feature-blog-box figure:hover .bp-btn a svg {
          background: rgba(255, 255, 255, 0.6);
          border-radius: 50px; }
          .features-blogs .feature-blogs-list .feature-blog-box figure:hover .bp-btn a svg path:nth-child(1) {
            fill: transparent; }
          .features-blogs .feature-blogs-list .feature-blog-box figure:hover .bp-btn a svg path:nth-child(2) {
            fill: #1b6753; }
      .features-blogs .feature-blogs-list .feature-blog-box figure img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        transition: ease all .4s; }
      .features-blogs .feature-blogs-list .feature-blog-box figure figcaption {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 35px 31px;
        display: flex;
        flex-direction: column;
        align-items: start;
        background: rgba(27, 103, 83, 0.8); }
        .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .cat a {
          background: #ff9d00;
          color: #ffffff;
          border-radius: 50px;
          padding: 5px 15px;
          font-size: 13px;
          font-weight: 600; }
        .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4 {
          margin-top: auto;
          color: #ffffff;
          margin-bottom: 15px;
          line-height: 1.5;
          word-break: break-all; }
        .features-blogs .feature-blogs-list .feature-blog-box figure figcaption p {
          color: #ffffff;
          font-size: 15px;
          margin-bottom: 56px;
          font-weight: 500;
          word-break: break-all; }
        .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .date {
          color: #ffffff;
          font-size: 13px;
          font-weight: 400; }
          .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .date i {
            display: inline-block;
            margin-right: 3px;
            position: relative;
            top: -2px; }
        .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .bp-btn a {
          font-size: 13px; }
          .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .bp-btn a span {
            margin-left: 4px; }
  .features-blogs .feature-blogs-list .slick-dots {
    padding: 0;
    list-style: none;
    display: flex; }
    .features-blogs .feature-blogs-list .slick-dots li {
      flex: 1; }
      .features-blogs .feature-blogs-list .slick-dots li button {
        width: 100%;
        border: 0;
        height: 2px;
        color: transparent;
        font-size: 0;
        background: #bad1cb;
        transition: ease all .3s; }
        .features-blogs .feature-blogs-list .slick-dots li button:focus {
          outline: none; }
        .features-blogs .feature-blogs-list .slick-dots li button:hover {
          background-color: #1b6753;
          height: 7px; }
      .features-blogs .feature-blogs-list .slick-dots li.slick-active button {
        background-color: #1b6753; }

/******************************
END FEATURE BLOG
***************************** */
/******************************
SIDE WIDGET BAR
***************************** */
.side-widget {
  padding: 40px 30px;
  margin: 0 0px;
  margin-bottom: 30px; }
  .side-widget h4 {
    color: #ff9d00;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600; }
  .side-widget p {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 21px; }
  .side-widget.__newletter-widget {
    background-color: #1b6753; }
    .side-widget.__newletter-widget p {
      color: #ffffff; }
    .side-widget.__newletter-widget .form-group input[type="email"] {
      border: 1px solid #ffffff;
      background: transparent !important; }
  .side-widget.__topics-widget {
    background: #eff4f3; }
    .side-widget.__topics-widget .topic-listing ul {
      margin-top: 30px; }
      .side-widget.__topics-widget .topic-listing ul li {
        color: #1b6753;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 15px;
        transition: ease all .3s; }
        .side-widget.__topics-widget .topic-listing ul li a {
          color: #1b6753; }
          .side-widget.__topics-widget .topic-listing ul li a:hover {
            color: #ff9d00; }
        .side-widget.__topics-widget .topic-listing ul li .dash {
          border-bottom: 1px dashed;
          margin: 0 11px;
          position: relative;
          top: -11px;
          flex: 1;
          color: #649337; }
  .side-widget.__socialmedia-widget {
    background: #ff9d00; }
    .side-widget.__socialmedia-widget h4 {
      color: #333333; }
    .side-widget.__socialmedia-widget .social-icons a {
      width: 35px;
      height: 35px; }

/* MOST READS BLOG */
.most-read-blogs h3 {
  color: #1b6753;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px; }

.cat-widget {
  background: #ffffff;
  padding: 29px 25px;
  box-shadow: 0 10px 37px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding-right: 16px;
  position: relative; }
  .cat-widget .cat-name {
    background-color: #ef3d01;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 0 0 10px 9px;
    position: absolute;
    top: 0; }
    .cat-widget .cat-name a {
      font-size: 13px;
      color: #ffffff;
      font-weight: 600; }
  .cat-widget h5 {
    color: #1b6753;
    margin: 25px 0;
    font-size: 18px; }
  .cat-widget .wd-details .date {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #333333; }
    .cat-widget .wd-details .date i {
      margin-right: 8px; }

/******************************
END SIDE WIDGET BAR
***************************** */
/******************************
FOOTER SECTION
***************************** */
footer {
  position: relative; }
  footer .footer-wrap-yellow {
    padding-top: 50px;
    background: #1b6753;
    min-height: 330px;
    margin: 0 55px;
    border-radius: 40px 40px 0 0; }
    footer .footer-wrap-yellow:before {
      content: '';
      background-color: #ff9d00;
      position: absolute;
      width: 98%;
      height: 75%;
      z-index: -1;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      border-radius: 40px 40px 0 0; }
  footer .footer-box h5 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px;
    text-transform: uppercase; }
  footer .footer-box ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0; }
    footer .footer-box ul li {
      margin-bottom: 8px; }
      footer .footer-box ul li a {
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 0.3px;
        transition: ease all .3s; }
        footer .footer-box ul li a:hover {
          color: #ff9d00;
          text-decoration: none; }
  footer .footer-box .social-icons {
    margin-top: 20px; }
    footer .footer-box .social-icons a {
      background: #ffffff;
      width: 30px;
      height: 30px; }
      footer .footer-box .social-icons a:hover {
        text-decoration: none; }
      footer .footer-box .social-icons a svg {
        fill: #111519; }
      footer .footer-box .social-icons a:hover {
        background: #ff9d00; }
        footer .footer-box .social-icons a:hover svg {
          fill: #ffffff; }
  footer .copyrights p {
    text-align: center;
    margin-top: 100px;
    color: #ffff;
    font-size: 14px; }

/******************************
End FOOTER SECTION
***************************** */
/******************************
IMPORT INNER PAGE CSS
***************************** */
.inner-header-wrapper {
  background: url(../images/inner-page.jpg);
  border-radius: 0 0 25px 25px;
  position: relative;
  min-height: 350px;
  background-size: cover;
  background-position: 185px -97px;
  overflow: hidden;
  background-attachment: fixed; }
  .inner-header-wrapper:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(27, 103, 83, 0.7); }
  .inner-header-wrapper .inner-head {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .inner-header-wrapper .inner-head h2 {
      color: #ffffff;
      height: 100%;
      position: relative;
      border-bottom: 2px solid #ff9d00; }
      .inner-header-wrapper .inner-head h2:before {
        content: ''; }

.blogpost-inner-details {
  padding: 40px 0; }
  .blogpost-inner-details .inner-blog-details .blogpost-box {
    border: 0; }
    .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details {
      padding-left: 0; }
      .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h1, .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h2, .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h3, .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h4, .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h5 {
        position: relative;
        padding-left: 10px; }
        .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h1:before, .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h2:before, .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h3:before, .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h4:before, .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h5:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 4px;
          left: 0;
          background: #1b6753; }
      .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details p {
        padding-right: 0; }
      .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        display: inline-block;
        max-width: 100%;
        border-radius: 15px; }
      .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details h2 {
        font-size: 26px; }
      .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details ul {
        padding-left: 0;
        list-style-type: none;
        margin-top: 10px; }
        .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details ul li {
          position: relative;
          padding-left: 30px;
          font-size: 15px;
          margin-bottom: 10px; }
          .blogpost-inner-details .inner-blog-details .blogpost-box .bp-details ul li:before {
            content: '\2714';
            color: #1b6753;
            left: 0;
            font-size: 13px;
            position: absolute;
            border: 1px solid #1b6753;
            width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px; }
    .blogpost-inner-details .inner-blog-details .blogpost-box .auther-details {
      margin-top: 30px;
      border: 1px solid #1b6753;
      padding: 5px 0;
      border-left: 0;
      border-right: 0; }
      .blogpost-inner-details .inner-blog-details .blogpost-box .auther-details .icon {
        position: relative;
        top: -2px;
        margin-right: 5px;
        font-size: 13px; }
      .blogpost-inner-details .inner-blog-details .blogpost-box .auther-details p {
        font-size: 14px; }
    .blogpost-inner-details .inner-blog-details .blogpost-box figure img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      padding: 4px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      display: inline-block;
      max-width: 100%;
      border-radius: 15px; }
    .blogpost-inner-details .inner-blog-details .blogpost-box .catergory {
      margin-left: 20px; }
      .blogpost-inner-details .inner-blog-details .blogpost-box .catergory a {
        padding: 4px 18px;
        font-size: 14px; }

.contact-form-wrapper form label {
  width: 100%;
  color: #333;
  font-size: 15px; }
.contact-form-wrapper form input[type="text"],
.contact-form-wrapper form input[type="email"] {
  border-radius: 50px;
  border: 0;
  height: 40px;
  font-size: 14px;
  padding-left: 18px;
  color: #666666;
  border: 1px solid #1b6753;
  background: transparent;
  width: 100% !important;
  transition: ease all .4s; }
  .contact-form-wrapper form input[type="text"]:focus,
  .contact-form-wrapper form input[type="email"]:focus {
    outline: none;
    border-color: #ff9d00; }
.contact-form-wrapper form textarea {
  width: 100%;
  border-radius: 15px;
  border: 0;
  font-size: 14px;
  padding-left: 18px;
  color: #eee;
  border: 1px solid #1b6753;
  background: transparent;
  width: 100% !important;
  transition: ease all .4s;
  color: #666666; }
  .contact-form-wrapper form textarea:focus {
    outline: none;
    border-color: #ff9d00; }

/******************************
END IMPORT INNER PAGE CSS
***************************** */
/******************************
MEDIA QUERRY
***************************** */
@media (max-width: 1650px) {
  .s-bg-icons:before {
    left: -192px; } }
/* 1400px */
@media (max-width: 1400px) {
  .s-bg-icons:before {
    left: -300px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption {
    padding: 30px 20px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4 {
    font-size: 21px; }

  footer .footer-wrap-yellow {
    margin: 0 45px;
    padding-left: 40px; }

  .s-bg-icons:after {
    top: -492px;
    left: -160px; }

  .main-slider-section .slider-img-section img {
    right: 20px; }

  header .main-navigation .navbar-nav .nav-link {
    padding: 0 22px !important; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4 {
    font-size: 19px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure {
    height: 520px; } }
/* 1300px */
@media (max-width: 1300px) {
  .main-slider-section .slider-section-text h1 {
    font-size: 36px;
    padding-right: 45px; }

  .main-slider-section .slider-blog .cat-widget h5 {
    line-height: 1.5;
    font-size: 16px; }

  .main-slider-section .slider-blog h4 {
    font-size: 21px;
    margin-bottom: 20px; }

  footer .copyrights p {
    margin-top: 50px;
    font-size: 13px; }

  footer .footer-box ul li a {
    font-size: 13px; }

  footer .footer-box h5 {
    font-size: 16px; }

  footer .footer-wrap-yellow {
    margin: 0 35px; }

  footer .footer-wrap-yellow {
    margin: 0 45px;
    padding-left: 70px; }

  .s-bg-icons:after {
    background-size: contain; } }
/* 1300px */
@media (max-width: 1200px) {
  .inner-header-wrapper .inner-head h2 {
    font-size: 24px; }

  .inner-header-wrapper .inner-head,
  .inner-header-wrapper {
    min-height: 300px; }

  .inner-header-wrapper {
    background-position: 185px 4px;
    background-size: contain; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4 {
    font-size: 18px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption p {
    font-size: 14px; }

  .main-slider-section .slider-blog .slider-blog-items .slick-arrow.slick-next {
    right: 55px; }

  .main-slider-section .slider-blog .slider-blog-items .slick-arrow.slick-prev {
    right: 20px; }

  .main-slider-section .slider-section-text {
    padding: 0 40px 0 40px;
    padding-top: 60px; }

  .side-widget {
    padding: 35px 25px; }

  .blog-widget-section h4 {
    margin-bottom: 25px;
    font-size: 26px; }

  .blogpost-box .bp-details {
    padding-left: 25px; }

  .blogpost-box .bp-details h2 {
    margin: 17px 0;
    font-size: 26px; }

  .blogpost-box .bp-details p {
    margin-top: 17px;
    padding-right: 60px;
    font-size: 15px; }

  footer .copyrights p {
    margin-top: 50px;
    font-size: 13px; }

  footer .footer-box ul li a {
    font-size: 13px; }

  footer .footer-box h5 {
    font-size: 16px; }

  footer .footer-wrap-yellow {
    margin: 0 35px; }

  .side-widget p {
    font-size: 14px; }

  .most-read-blogs h3 {
    font-size: 22px; }

  .cat-widget h5 {
    font-size: 16px; }

  .bp-btn a {
    font-size: 14px; }

  .cat-widget .wd-details .date {
    font-size: 13px; }

  .cat-widget .cat-name {
    font-size: 12px; }

  .main-slider-section .slider-blog .cat-widget {
    padding-right: 18px;
    padding-left: 18px; }

  .main-slider-section .slider-blog .cat-widget h5 {
    font-size: 15px; }

  .main-slider-section .slider-blog .cat-widget p {
    font-size: 12px; }

  .main-slider-section .slider-img-section img {
    position: absolute;
    bottom: 0; }

  .main-slider-section .slider-section-text h1 {
    font-size: 32px;
    padding-right: 0; }

  header .main-navigation .navbar-nav .nav-link {
    font-size: 14px;
    padding: 0 15px !important; } }
@media (max-width: 991px) {
  .inner-header-wrapper .inner-head h2 {
    font-size: 21px; }

  .inner-header-wrapper .inner-head, .inner-header-wrapper {
    min-height: 250px; }

  .inner-header-wrapper {
    background-position: 146px 51px; }

  .contact-form-wrapper .contact-heading h2 {
    font-size: 25px; }

  header .main-navigation .headernav-social-media {
    margin-right: 0; }

  .features-blogs {
    padding-top: 180px;
    padding-bottom: 20px; }

  .headernav-social-media {
    width: 100%; }
    .headernav-social-media .social-icons {
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      border-top: 1px solid #1b6753;
      padding-top: 10px; }

  .header-nav .navbar-nav li .dropdown-menu {
    padding: 0;
    border: 0;
    width: 100%; }

  .dropdown-menu .dropdown-item {
    text-align: center;
    font-size: 14px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }

  .main-slider-section .slider-img-section img {
    right: 0; }

  .main-slider-section .slider-section-text {
    padding: 0 0px 0 0px;
    padding-top: 40px; }

  .theme-btn.__lg-btn {
    padding: 0 45px;
    height: 40px; }

  .main-slider-section .slider-blog {
    margin-top: 60px; }

  .main-slider-section .slider-blog h4 {
    font-size: 19px; }

  .main-slider-section .slider-section-text h1 {
    font-size: 28px; }

  .main-slider-section .slider-blog .cat-widget h5 {
    font-size: 16px; }

  header .main-navigation .white-bg-after {
    background: transparent;
    flex-wrap: wrap; }

  header .main-navigation .navbar-collapse {
    background: #ffffff;
    margin-bottom: 15px;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden; }

  header .main-navigation button {
    position: absolute;
    top: -57px;
    right: 21px; }

  header .main-navigation .navbar-brand {
    padding-left: 0; }

  .main-slider-section {
    margin: 0 0px;
    border-radius: 0; }

  header .main-navigation .navbar-brand {
    padding-bottom: 12px; }

  header .main-navigation .navbar-collapse li {
    width: 100%; }

  header .main-navigation .navbar-nav .nav-link {
    height: 50px;
    justify-content: center; }

  header .main-navigation .navbar-nav li .social-icons {
    justify-content: center;
    margin-top: 8px; }

  .contact-form-wrapper {
    padding-top: 5px !important; }

  .contact-form-wrapper .contact-heading h4 {
    font-size: 26px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4 {
    font-size: 17px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption p {
    font-size: 13px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .date {
    font-size: 12px; } }
@media (max-width: 768px) {
  .blogpost-box .bp-details h2 {
    font-size: 22px; }

  .blogpost-box .bp-details .catergory {
    padding: 4px 22px;
    font-size: 14px; }

  .blogpost-box .bp-details p {
    margin-top: 17px;
    padding-right: 0;
    font-size: 14px; }

  .bp-btn a {
    font-size: 13px; }

  .cat-widget h5 {
    font-size: 15px; }

  footer .footer-wrap-yellow {
    padding-left: 0; }

  .footer-box {
    text-align: center; }

  footer .footer-box ul li .social-icons {
    justify-content: center; }

  footer .col-md-4 + .col-md-4 .footer-box {
    margin-top: 16px; }

  .blog-widget-section h4 {
    margin-bottom: 20px;
    font-size: 24px; } }
@media (max-width: 767px) {
  .inner-header-wrapper .inner-head, .inner-header-wrapper {
    min-height: 250px; }

  .main-slider-section .slider-img-section img {
    display: none; }

  footer .footer-box h5 {
    font-weight: 800;
    border-bottom: 2px solid #2d9e81;
    display: inline-block;
    padding-bottom: 4px; } }
@media (max-width: 576px) {
  .inner-header-wrapper .inner-head h2 {
    font-size: 20px;
    text-align: center; }

  .inner-header-wrapper .inner-head, .inner-header-wrapper {
    min-height: 200px;
    background-size: cover; }

  header .main-navigation .navbar-brand img {
    width: 120px; }

  .pagination {
    margin-bottom: 25px; }

  .blogpost-box {
    padding-bottom: 20px;
    margin-bottom: 20px; }

  .blog-widget-section h4 {
    margin-bottom: 10px;
    font-size: 24px; }

  .blogpost-box .bp-details h2 {
    font-size: 18px;
    margin: 12px 0; }

  .blogpost-box .bp-details .bp-date-time {
    font-size: 13px; }

  .blogpost-box .bp-details p {
    margin-top: 15px;
    font-size: 13px; }

  .blogpost-box .bp-btn a svg {
    width: 22px;
    height: 22px; }

  .blogpost-box .bp-btn a span {
    margin-left: 5px; }

  .side-widget p {
    margin-top: 15px;
    margin-bottom: 15px; }

  .most-read-blogs h3 {
    font-size: 20px;
    margin-top: 23px; }

  .cat-widget .wd-details .date {
    font-size: 13px; }

  footer .footer-box h5 {
    font-size: 15px; }

  footer .footer-box ul li a {
    font-size: 12px; }

  footer .footer-wrap-yellow {
    margin: 0 20px; }

  footer .copyrights p {
    margin-top: 20px;
    font-size: 12px; }

  .blogpost-box .bp-details .catergory {
    font-size: 12px; }

  .main-slider-section .slider-section-text h1 {
    font-size: 24px; }

  .main-slider-section .slider-section-text p {
    height: 59px;
    font-size: 13px; }

  .main-slider-section .slider-blog {
    margin-top: 40px; }

  .main-slider-section .slider-blog h4 {
    font-size: 18px; }

  .features-blogs {
    padding-top: 160px;
    padding-bottom: 20px; }

  .sec-head {
    font-size: 24px; }

  .features-blogs .section-heading {
    margin-bottom: 25px !important; }

  .side-widget.__topics-widget .topic-listing ul li a {
    font-size: 14px; }

  header .main-navigation .navbar-nav .nav-link {
    height: 45px;
    font-size: 13px;
    font-weight: 600; } }
@media (max-width: 480px) {
  .inner-header-wrapper .inner-head h2 {
    font-size: 18px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption p {
    font-size: 13px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .date {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .bp-btn a {
    font-size: 12px; }

  .blogpost-box .bp-details h2 {
    font-size: 17px !important; }

  .pagination a, .pagination span {
    font-size: 14px;
    width: 25px;
    height: 25px; }

  .features-blogs .feature-blogs-list .feature-blog-box {
    margin: 0 2px; }

  .features-blogs .feature-blogs-list .feature-blog-box figure figcaption {
    padding: 22px 14px; } }
/******************************
END MEDIA QUERRY
***************************** */

/*# sourceMappingURL=style.css.map */
