@import './partials/variables';
@import './partials/global';
@import './partials/buttons';
html, 
body{
    font-family: 'Comfortaa', cursive !important;
    overflow-x: hidden;
 
}
body{
    margin:0; 
    padding: 0;
}



/******************************
HEADER SECTION
***************************** */

header{
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    }
.line {
    fill: none;
    stroke: $whiteColor;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 4;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 4;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
    position: relative;
    .header-nav{
        background: $primaryDark;
    }
    &:before{
        // content: '';
        // background-color: $primaryDark;
        // width: 46%;
        // min-height: 750px;
        // position: absolute;
        // border-radius: 0 0 50px 0;
    }
    &:before{

    }
    .main-navigation{
        .white-bg-after{
            background: white;
            display: flex;
            align-items: center;
            &:after{
                // content: '';
                position: absolute;
                background: white;
                width: 100%;
                height: 100%;
                right: -553px;
                top: 0; 
            }
            button{
                &:focus{
                    border:0;
                    outline: none;
                }
            }
        }
    .navbar-brand{
        padding-left: 60px;
        img{
            width: 140px !important;
            height: 51px;
        }
    }
    .navbar-nav {
        .nav-link{
                height: 80px;
                display: flex;
                align-items: center;
                padding: 0 35px !important;
                font-size: 15px;
                color: $greyColorDark;
                position: relative;
                z-index: 1;
                font-weight: 500;
                &:before{
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transition: ease all .4s;
                    background: $secondry; 
                    z-index: -1;
                }
                &.active{
                   background: $secondry; 
                }
                &:hover{
                   &:before{
                        background: $secondry; 
                        height: 100%;
                   }
                }
            } 
        }
        .headernav-social-media{
            margin-right: 30px; 
            .social-icons{
                a{
                    transition: ease all .4s;
                    &:hover{
                        background: $secondry;
                    }
                }
            }
        }
    }
}


/******************************
END HEADER SECTION
***************************** */

/******************************
SLIDER SECTION
***************************** */
.s-bg{
    &:before{
        content: '';
        background: $primaryDark;
        height: 102%;
        width: 50%;
        position: absolute;
        left: 0;
        border-radius: 0 0 30px 0;
    }
} 
.s-bg-icons{
    position: absolute;
    height:100%;
    width:100%;
    overflow: hidden;
    border-radius: 30px;
    
    &:before{ 
        content: '';
        background: url(../images/yellow-icon.png);
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        bottom: -417px;
        left: -45px;
    }
    &:after{
        content: '';
        background: url(../images/circle-icon.png);
        position: absolute;
        width: 100%;
        height: 126%;
        background-repeat: no-repeat;
        top: -380px;
    }
}
.main-slider-section{
    background: $primary;
    margin: 0 35px;
    border-radius: 25px;
    position: relative;
    margin-left: 50px;
    position: relative;
    .slider-img-section{ 
        img{
            margin-top: 30px;
            position: relative;
            right: 40px;
        }
    }
    .slider-section-text{
        padding: 0 100px 0 45px;
        padding-top: 70px;
        h1{
            color: $whiteColor;
            font-size: 40px;
            padding-right: 118px;
        }
        p{
            color: $whiteColor;
            font-size: 14px;
            margin: 25px 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            height: 62px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .slider-blog{
        margin-top: 100px;
        margin-bottom: -74px;
        h4{
            color: $secondry;
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 25px;
        }
        .cat-widget{
            padding-right: 28px;
            padding-left: 28px;
            padding-bottom: 15px;
            box-shadow: none;
            min-height: 207px;
            &:before{
                content: '';
                width: 85%;
                height: 1%;
                box-shadow: 0 3px 23px 4px rgba(0, 0, 0, .3);
                position: absolute;
                left: 0;
                bottom: 3px;
                margin: 0 auto;
                right: 0;
                z-index: -1;

            }
            h5{
                margin: 13px 0;
                font-size: 17px;
                font-weight: 600;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 43px;
                height: 43px;
            }
            p{
                font-size: 13px;
                font-weight: 500;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                height: 56px;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }
            .cat-name{
                padding: 4px 8px; 
            }
            .wd-details{
                .date{
                    font-size: 13px;
                }
                .bp-btn{
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        .slider-blog-items{
            position: relative;
            .slick-arrow{
                position: absolute;
                top: -40px;
                right: 20px;
                cursor: pointer;
                &.slick-next{
                    right: 58px;
                    transform: rotate(180deg);
                }
            }   
            .item.slick-slide{
                    margin-left: 13px;
                    &:focus{
                        outline: none;
                    }
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }
}
/******************************
END SLIDER SECTION
***************************** */



/******************************
BLOG SECTION
***************************** */
.main-wrap-blogs{
    background-image: url(../images/pattern-bg.jpg);
    background-repeat: repeat;

}
.blog-widget-section{
        h4{
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.blogpost-box{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: ease all .4s;
    &:hover{
        // box-shadow: 0 0 20px 0 rgba(0, 0, 0 ,.2);
        // border-radius: 20px;
        // figure{
        //     img{
        //         transform: scale(1.05);
        //     }
        // }
        .bp-details{
            // margin-top: -22px;
        }
    }
    figure{
        img{
            height: 360px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
            transition: ease all .4s;
        }
    }
    .bp-details{
        margin-top: -34px;
        padding-left: 44px;
        transition: ease all .3s;
        .catergory{
            a{
                color: $whiteColor;
                background: $secondry;
                padding: 5px 22px;
                border-radius: 50px;
                font-size: 15px;           
                display: inline-block; 
                position: relative;
                z-index: 99;
            }
        }
        h2{
            margin: 23px 0;
            font-size: 30px;
        }
        .bp-date-time{
            color: $primary;
            display: flex;
            font-size: 14px;
            align-items: flex-end;
            line-height: normal;
            i{
                margin-right: 10px;
            }
        }
        p{
            color: $greyColorLight;
            margin-top: 18px;
            padding-right: 83px;
            word-break: break-all;
        }
    }
}




/******************************
END BLOG SECTION
***************************** */

/******************************
FEATURE BLOG
***************************** */

.features-blogs{
    padding-top: 160px;
    padding-bottom: 80px;
    .slick-initialized .slick-slide{
        display: flex !important;
        margin-left: 1px;
        &:focus{
            outline: none;
        }
    }
    .feature-blogs-list{
        .feature-blog-box{
            position: relative;
            margin: 0 10px;
            figure{
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                height: 600px;
                transition: ease all .4s;
                cursor: pointer;
                &:before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0;
                    // background: $primary;
                    transition: ease all .4s;
                    bottom: 0;
                }
                &:hover{
                    &:before{
                        height: 100%;
                    }
                    figcaption{
                        background: rgba(255, 157, 0, .8);
                        transition: ease all 1s;
                    }
                    h4, p{
                        color: $greyColorDark;
                    }
                    .cat{
                        a{
                            background: $primary;
                        }
                    }
                    .date{
                        color: $greyColorDark;
                        font-weight: 600;
                        svg{
                            fill: $greyColorDark;
                        }
                    }
               
                    img{
                        transform: scale(1.10);
                    }                    
                    .bp-btn{
                        a{
                            color: $greyColorDark;
                            svg{
                                background:rgba(255,255, 255,.6);
                                border-radius: 50px;
                                path:nth-child(1){
                                   fill: transparent;
                                }
                                path:nth-child(2){
                                   fill: $primary;
                                }
                            }
                        }
                    }
                }
                img{
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                    transition: ease all .4s;
                }
                figcaption{
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    padding: 35px 31px; 
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    background: rgba(27, 103, 83, .8); 
                    .cat{
                        a{
                            background: $secondry;
                            color: $whiteColor;                        
                            border-radius: 50px;
                            padding: 5px 15px;
                            font-size: 13px;
                            font-weight: 600;
                        }
                    }    
                    h4{
                        margin-top: auto;
                        color: $whiteColor;
                        margin-bottom: 15px;
                        line-height: 1.5;
                        word-break: break-all;
                    }
                    p{
                        color: $whiteColor;
                        font-size: 15px;
                        margin-bottom: 56px;
                        font-weight: 500;
                        word-break: break-all;
                    }
                    .date{
                        color: $whiteColor;
                        font-size: 13px;
                        font-weight: 400;
                        i{
                            display: inline-block;    
                            margin-right: 3px;
                            position: relative;
                            top: -2px;
                        }
                    }
                    .bp-btn{
                            a{
                                font-size: 13px;
                                span{
                                    margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }
        .slick-dots{
            padding:0;
            list-style: none;
            display: flex;
            li{
                flex:1;
                button{
                    width: 100%;
                    border: 0;
                    height: 2px;
                    color: transparent;
                    font-size: 0;
                    background: #bad1cb;
                    transition: ease all .3s;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        background-color: $primary;
                        height: 7px; 
                    }
                }
                &.slick-active{
                    button{
                        background-color: $primary;
                    }
                }
            }
        }
    }
}
/******************************
END FEATURE BLOG
***************************** */


/******************************
SIDE WIDGET BAR
***************************** */

.side-widget{
    padding: 40px 30px;
    margin: 0 0px;
    margin-bottom: 30px;
    h4{
        color: $secondry;
        margin-bottom: 0;
        font-size: 25px;
        font-weight: 600;
    }
    p{
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 21px;
    }
    // New Latter Widget
    &.__newletter-widget{
        background-color: $primary;
        p{
            color: $whiteColor;
        }
        .form-group{
            input[type="email"]{
                border:1px solid $whiteColor;
                background: transparent !important;
            }
        }
    }
    // End New Latter Widget
    // Topics Widget
    &.__topics-widget{
        background: $greyColorLightest;
        .topic-listing{
            ul{
                margin-top: 30px;
                li{
                    color: $primary;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    font-weight: 600;
                    font-size: 15px;
                    transition: ease all .3s;
                    a{
                        color: $primary;
                        &:hover{
                            color: $secondry;
                        }
                    }
                    .subject{
                    }
                    .dash{
                        border-bottom: 1px dashed;
                        margin: 0 11px;
                        position: relative;
                        top: -11px;
                        flex: 1;
                        color: #649337;
                    }
                    .no-topics{

                    }
                }
            }
        }
    }
    // End Topics Widget
    // Social Media Widget
    &.__socialmedia-widget{
        background: $secondry;
        h4{
           color: $greyColorDark; 
        }
        .social-icons{
            a{
                width: 35px;
                height: 35px;
            }
        }
    }
    // End Social Media Widget
}



/* MOST READS BLOG */
.most-read-blogs{
    h3{
        color: $primary;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
}

.cat-widget{
    background: $whiteColor;
    padding: 29px 25px;
    box-shadow: 0 10px 37px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-right: 16px;
    position: relative;
    .cat-name{
        background-color: $orangeColor;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 0 0 10px 9px;
        position: absolute;
        top: 0;
        a{
            font-size: 13px;
            color: $whiteColor;
            font-weight: 600;
        }
    }
    h5{
        color: $primary;
        margin: 25px 0;
        font-size: 18px;
    }
    .wd-details {
        .date{
            font-size: 14px;
            display: flex;
            align-items: center;
            color: $greyColorDark;
            i{
                margin-right: 8px;
            }
        }
    }
}





/******************************
END SIDE WIDGET BAR
***************************** */


 

/******************************
FOOTER SECTION
***************************** */
footer{
    position: relative;
    .footer-wrap-yellow{
        padding-top: 50px;  
        background: $primary;
        min-height: 330px;
        margin: 0 55px;
        border-radius: 40px 40px 0 0;
        &:before{
            content: '';
            background-color: $secondry;
            position: absolute;
            width: 98%;
            height: 75%;
            z-index: -1;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
            border-radius: 40px 40px 0 0;
        }
    }
    .footer-box{
        h5{
            font-size: 18px;
            color: $whiteColor;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        ul{
            margin: 0;
            list-style-type: none;
            padding-left: 0;
            li{
                margin-bottom: 8px;
                a{
                    color: $whiteColor;
                    font-size: 14px;
                    letter-spacing: 0.3px;
                    transition: ease all .3s;
                    &:hover{
                        color: $secondry;
                        text-decoration: none;
                    }
                }
            }
        }
    .social-icons{
        margin-top: 20px;
            a{
                background: $whiteColor;
                width: 30px;
                height: 30px;
                &:hover{
                    text-decoration: none;
                }
                svg{
                    fill: #111519;
                }
                &:hover{
                    background: $secondry; 
                    svg{
                        fill: $whiteColor;
                    }
                }   
            }
        }
    }
    .copyrights{
        p{
            text-align: center;
            margin-top: 100px;
            color: #ffff;
            font-size: 14px;
        }
    }
}



 
/******************************
End FOOTER SECTION
***************************** */


/******************************
IMPORT INNER PAGE CSS
***************************** */
@import './innerpages-styles/inner-page';
/******************************
END IMPORT INNER PAGE CSS
***************************** */




/******************************
MEDIA QUERRY
***************************** */

@import './partials/media';

/******************************
END MEDIA QUERRY
***************************** */



