.inner-header-wrapper{
    background: url(../images/inner-page.jpg);
    border-radius: 0 0 25px 25px;
    position: relative;
    min-height: 350px;
    background-size: cover;
    background-position: 185px -97px;
    overflow: hidden;
    background-attachment: fixed;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(27, 103, 83, 0.7);
        
    }
    .inner-head{
        min-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            color: $whiteColor;
            height: 100%;
            position: relative;
            border-bottom: 2px solid $secondry;
            &:before{
                content: ''; 
            }
        }
    }
}


.blogpost-inner-details{
    padding: 40px 0;
    .inner-blog-details{
        .blogpost-box {
            border: 0;
            .bp-details {
                    padding-left: 0;
                    h1, h2, h3, h4, h5{
                        position: relative;
                        padding-left: 10px;
                        &:before{
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 4px;
                            left: 0;
                            background: $primary;
                        }
                    }
                p{
                    padding-right: 0;
                }
                img{
                        width: 100%;
                        height: 350px;
                        object-fit: cover;
                        padding: 4px;
                        line-height: 1.42857143;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        -webkit-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
                        display: inline-block;
                        max-width: 100%;
                        border-radius: 15px;
                    }
                h2{
                    font-size: 26px;
                }
                ul{
                    padding-left: 0;
                    list-style-type: none;
                    margin-top: 10px;
                    li{
                        position: relative;
                        padding-left: 30px;
                        font-size: 15px;
                        margin-bottom: 10px;
                        &:before{
                            content: '\2714';
                            color: $primary;
                            left: 0;
                            font-size: 13px;
                            position: absolute;
                            border: 1px solid $primary;
                            width: 22px;
                            height: 22px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50px;
                        }
                    }
                }
       
            }
            .auther-details{
                margin-top: 30px;
                border:1px solid $primary;
                padding: 5px 0;
                border-left: 0;
                border-right: 0;
                .icon{
                    position: relative;
                    top: -2px;
                    margin-right: 5px;
                    font-size: 13px;
                }
                p{
                    font-size: 14px;
                }
            }
            figure{
                img{
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                    padding: 4px;
                    line-height: 1.42857143;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    display: inline-block;
                    max-width: 100%;
                    border-radius: 15px;
                    }
                }
            .catergory{
                margin-left: 20px;
                a{
                    padding: 4px 18px;
                    font-size: 14px;
                }
            }
        }
    }
}




.contact-form-wrapper{
    form{
        label{
            width: 100%;
            color: #333;
            font-size: 15px;
        } 
        input[type="text"],
        input[type="email"],{
            border-radius: 50px;
            border: 0;
            height: 40px;
            font-size: 14px;
            padding-left: 18px;
            color: #666666;
            border: 1px solid $primary;
            background: transparent;
            width: 100% !important;
            transition: ease all .4s;

            &:focus{
                outline:none;
                border-color: $secondry;
            }
        }
        textarea{
            width: 100%;
            border-radius: 15px;
            border: 0;
            font-size: 14px;
            padding-left: 18px;
            color: #eee;
            border: 1px solid $primary;
            background: transparent;
            width: 100% !important;
            transition: ease all .4s;
            color: #666666;
            &:focus{
                outline:none;
                border-color: $secondry;
            }
        }
    }
}