

/******************************
THEME BUTTONS
***************************** */
.theme-btn{
    padding: 0 40px;
    display: inline-flex;
    height: 40px;
    border-radius: 50px;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 15px;
    min-width: 120px;
    border: 0;
    &:hover{
        color: $whiteColor;
        text-decoration: none;
    }
    &:focus{
        
    }
    &.__primary-btn{
        background: $secondry;        
    }
    &.__lg-btn{
        padding: 0 60px;
        height: 45px;
    }
}



.bp-btn{
    a{
        color: $secondry;
        margin-top: 0px;
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        transition: ease all .4s;
        svg{
            transition: ease all;
            .path1{
                fill:#c4cdcb;
            }
            .path2{
                fill: $secondry;
            }
        }
        span{
            display: inline-block;
            margin-left: 8px;
        }
        &:hover{
            color: $primary;    
            text-decoration: none;
                svg{
                    transition: ease all .4s;
                    .path1{
                    fill:$secondry
                }
            .path2{
                fill: $primary;    
                }   
            }
        }
    }
}