
// default List Styling

.default-list{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    a{
        &:hover{
            text-decoration: none;
        }
    }
}

.br-20{
    border-radius: 20px;
}


p:empty{
    margin: 0 !important;
}


	 

/******************************
PAGINATION
***************************** */

 
.pagination {
  position: relative;
  justify-content: center;
  margin-bottom: 50px;
}
.pagination a:last-child{
    width: 80px;
}
.pagination a:first-child{
    width: 110px;
}
.pagination a,
.pagination span {
    position: relative;
    display: flex;
    color: $primary;
    text-decoration: none;
    font-size: 16px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-left: 5px;
    &:hover{
        text-decoration: none;
    }
}
.pagination a:before,
.pagination span:before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:  $primary;;
    border-radius: 24px;
    transform: scale(0);
    transition: all 0.2s;
    z-index: -1;
}
.pagination a:hover,
.pagination span:hover,
.pagination a .pagination-active,
.pagination span.current{
    color: #fff;
}




.pagination a:hover:before,
.pagination span:hover:before,
.pagination span.current:before,
.pagination a .pagination-active:before {
  transform: scale(1);
}
.pagination .pagination-active {
  color: #fff;
}
.pagination .pagination-active:before {
  transform: scale(1);
}
.pagination-newer {
  margin-right: 50px;
}
.pagination-older {
  margin-left: 50px;
}


/******************************
SOCIAL MEDIA
***************************** */

.social-icons{
    &.green-social-icons{
        &:before{
          background: red;
        }
    }
    display: flex;
    a{
        width: 25px;
        height: 25px;
        background-color: $primaryDark;
        border-radius:50px;
        position: relative;
        transition: ease all .5s; 
        &:hover{
            
        }
        @extend %display-center;
        svg{
            fill:white;
        }


    }
}

/******************************
SOCIAL MEDIA
***************************** */

/******************************
FORM ELEMENT's
***************************** */

.custom-form{
    input[type="text"],
    input[type="email"]{
        border-radius: 50px;
        border:0;
        height: 35px;
        font-size: 14px;
        padding-left: 18px;
        color: #eee;
        width: 100%;
        &:focus{
            box-shadow: none;
            outline: none;
        }
        &::-webkit-input-placeholder { /* Edge */
            color: #65bda5;
            
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #65bda5;
            opacity: 0.5;
        }
        &::placeholder {
            color: #65bda5;
            opacity: 0.5;
        }
    }
}
/******************************
END FORM ELEMENT's
***************************** */


.sec-head{
    font-size: 30px;
}

/******************************
NAV DROP DOWN MENU

***************************** */

.dropdown-menu{
    padding: 0 !important;
    width: 247px;
    li{
        padding: 0;
        font-size: 15px;
        a{
            padding:7px 10px;
            padding-left: 15px;
            transition: ease all .3s;
            &:hover{
                background-color:$secondry;
            }
        }
    }
}