// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap


@media (max-width: 1650px) { 
    .s-bg-icons:before{
        left: -192px;
    }
}

/* 1400px */
@media (max-width: 1400px) { 
    .s-bg-icons:before{
        left: -300px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption{
        padding: 30px 20px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4{
        font-size: 21px;
    }
    footer .footer-wrap-yellow{
        margin: 0 45px;
        padding-left: 40px;
    } 
    .s-bg-icons:after { 
        top: -492px;
        left: -160px;
    }
    .main-slider-section .slider-img-section img{
        right: 20px;
    }
    header .main-navigation .navbar-nav .nav-link{
        padding: 0 22px !important;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4{
        font-size: 19px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure{
        height: 520px;
    }
}

/* 1300px */
@media (max-width: 1300px) { 
    .main-slider-section .slider-section-text h1{
        font-size: 36px;
        padding-right: 45px;
    }
    .main-slider-section .slider-blog .cat-widget h5{
        line-height: 1.5;
        font-size: 16px;
    }
    .main-slider-section .slider-blog h4 {
        font-size: 21px;
        margin-bottom: 20px;
    }
    footer .copyrights p{
        margin-top: 50px;
        font-size: 13px; 
    }
    footer .footer-box ul li a{
        font-size: 13px;
    }
    footer .footer-box h5{
        font-size: 16px;
    }
    footer .footer-wrap-yellow {
        margin: 0 35px;
    }
    footer .footer-wrap-yellow{
        margin: 0 45px;
        padding-left: 70px;
    } 
    .s-bg-icons:after{
        background-size: contain;
    }
}
/* 1300px */

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 
    .inner-header-wrapper .inner-head h2{
        font-size: 24px
    } 
    .inner-header-wrapper .inner-head,
    .inner-header-wrapper{
        min-height: 300px;
    }
    .inner-header-wrapper{
        background-position: 185px 4px;
        background-size: contain;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4 {
        font-size: 18px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption p{
        font-size: 14px;
    }
    .main-slider-section .slider-blog .slider-blog-items .slick-arrow.slick-next{
        right: 55px;
    }
    .main-slider-section .slider-blog .slider-blog-items .slick-arrow.slick-prev{
        right: 20px;
    }
    .main-slider-section .slider-section-text{
        padding: 0 40px 0 40px;
        padding-top: 60px;
    }
    .side-widget{
        padding: 35px 25px;
    }
    .blog-widget-section h4{
        margin-bottom: 25px;
        font-size: 26px;
    }
    .blogpost-box .bp-details{
        padding-left: 25px;
    }
    .blogpost-box .bp-details h2 {
        margin: 17px 0;
        font-size: 26px;
    }
    .blogpost-box .bp-details p {
        margin-top: 17px;
        padding-right: 60px;
        font-size: 15px;
    }
    footer .copyrights p{
        margin-top: 50px;
        font-size: 13px; 
    }
    footer .footer-box ul li a{
        font-size: 13px;
    }
    footer .footer-box h5{
        font-size: 16px;
    }
    footer .footer-wrap-yellow {
        margin: 0 35px;
    }
    .side-widget p{
        font-size: 14px;
    }
    .most-read-blogs h3{
        font-size: 22px;
    }
    .cat-widget h5{
        font-size: 16px;
    }
    .bp-btn a{
        font-size: 14px;
    }
    .cat-widget .wd-details .date{
        font-size: 13px;
    }
    .cat-widget .cat-name{
        font-size: 12px;
    }
    .main-slider-section .slider-blog .cat-widget{
        padding-right: 18px;
        padding-left: 18px;
    }
    .main-slider-section .slider-blog .cat-widget h5{
        font-size: 15px;
    }
    .main-slider-section .slider-blog .cat-widget p{
        font-size: 12px;
    }
    .main-slider-section .slider-img-section img{
        position: absolute;
        bottom: 0;
    }
    .main-slider-section .slider-section-text h1{
        font-size: 32px;
        padding-right: 0;
}
    header .main-navigation .navbar-nav .nav-link{
        font-size: 14px;
        padding: 0 15px !important;
    }
} 


// Medium devices (tablets, 991px and up)
@media (max-width: 991px) { 
    .inner-header-wrapper .inner-head h2 {
        font-size: 21px;
    }
    .inner-header-wrapper .inner-head, .inner-header-wrapper{
        min-height: 250px;
    }
    .inner-header-wrapper {
        background-position: 146px 51px;
}
.contact-form-wrapper{
    .contact-heading{
        h2{
            font-size: 25px;
        }
    }
}
    header .main-navigation .headernav-social-media{
        margin-right: 0;
    }
    .features-blogs {
        padding-top: 180px;
        padding-bottom: 20px;
    }
    .headernav-social-media{
        width: 100%; 
        .social-icons{
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
            border-top: 1px solid #1b6753;
            padding-top: 10px;
        }
    }
    .header-nav .navbar-nav li .dropdown-menu{ 
        padding: 0;
        border: 0; 
        width: 100%; 
    } 
    .dropdown-menu .dropdown-item{
        // background-color: orange;
        text-align: center;
        font-size: 14px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .main-slider-section .slider-img-section img{
        right: 0;
    }
    .main-slider-section .slider-section-text{
        padding: 0 0px 0 0px;
        padding-top: 40px;
    } 
    .theme-btn.__lg-btn {
        padding: 0 45px;
        height: 40px;
    }
    .main-slider-section .slider-blog{
        margin-top: 60px;
    }
    .main-slider-section .slider-blog h4{
        font-size: 19px;
    }
    .main-slider-section .slider-section-text h1{
        font-size: 28px;
    }
    .main-slider-section .slider-blog .cat-widget h5{
        font-size: 16px;
    }
    header .main-navigation .white-bg-after{
        background: transparent;
        flex-wrap: wrap;
    }
    header .main-navigation .navbar-collapse {
        background: $whiteColor;
        margin-bottom: 15px;
        border-radius: 15px 15px 15px 15px;
        overflow: hidden;
    }
    header .main-navigation button {
        position: absolute;
        top: -57px;
        right: 21px;
    }
    header .main-navigation .navbar-brand{
        padding-left: 0;
    }
    .main-slider-section{
        margin: 0 0px;
        border-radius: 0;
    }
    header .main-navigation .navbar-brand{
        padding-bottom: 12px;
    }
    header .main-navigation .navbar-collapse li{
        width: 100%;
    }
    header .main-navigation .navbar-nav .nav-link{
        height: 50px;
        justify-content: center;
    }
    header .main-navigation .navbar-nav li .social-icons {
        justify-content: center;
        margin-top: 8px;
    }
    .contact-form-wrapper {
        padding-top: 5px !important;
    }
    .contact-form-wrapper .contact-heading h4{        
        font-size: 26px;
    }
}

@media (min-width: 576px) and (max-width: 768px)  { 
       .features-blogs .feature-blogs-list .feature-blog-box figure figcaption h4 {
        font-size: 17px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption p{
        font-size: 13px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .date{
        font-size: 12px;
    }
}

// Medium devices (tablets, 768px and up)

@media (max-width: 768px) { 
 
    .blogpost-box .bp-details h2{
        font-size: 22px;
    }
    .blogpost-box .bp-details .catergory{
        padding: 4px 22px;
        font-size: 14px;
    }
    .blogpost-box .bp-details p{
        margin-top: 17px;
        padding-right: 0;
        font-size: 14px;
    }
    .bp-btn a {
        font-size: 13px;
    }
    .cat-widget h5 {
        font-size: 15px;
    }
    footer .footer-wrap-yellow{
        padding-left: 0;
    }
    .footer-box{
        text-align: center;
    }
    footer .footer-box ul li .social-icons{
        justify-content: center;
    }
    footer .col-md-4 + .col-md-4  .footer-box{
        margin-top: 16px;
    }
    .blog-widget-section h4 {
        margin-bottom: 20px;
        font-size: 24px;
    }
 
}


@media (max-width: 767px) {
       .inner-header-wrapper .inner-head, .inner-header-wrapper{
        min-height: 250px;
    }
    .main-slider-section .slider-img-section img{
        display: none;
    }
    footer .footer-box h5{
        font-weight: 800;
        border-bottom: 2px solid #2d9e81;
        display: inline-block;
        padding-bottom: 4px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .inner-header-wrapper .inner-head h2 {
    font-size: 20px;
    text-align: center;
}
    .inner-header-wrapper .inner-head, .inner-header-wrapper{
        min-height: 200px;
        background-size: cover;
    }
    header .main-navigation .navbar-brand img {
        width: 120px;
    }
    .pagination {
        margin-bottom: 25px;
    }
    .blogpost-box{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .blog-widget-section h4 {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .blogpost-box .bp-details h2 {
        font-size: 18px;
        margin: 12px 0;
    }
    .blogpost-box .bp-details .bp-date-time{
        font-size: 13px;
    }
    .blogpost-box .bp-details p {
        margin-top: 15px;    
        font-size: 13px;
    }
    .blogpost-box .bp-btn a svg{
        width: 22px;
        height: 22px;
    }
    .blogpost-box .bp-btn a span{
        margin-left: 5px;
    }
    .side-widget p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .most-read-blogs h3 {
        font-size: 20px;
        margin-top: 23px;
    }
    .cat-widget .wd-details .date{
        font-size: 13px;
    }
    footer .footer-box h5 {
        font-size: 15px;
    }
    footer .footer-box ul li a {
        font-size: 12px;
    }
    footer .footer-wrap-yellow {
        margin: 0 20px;
    } 
    footer .copyrights p {
        margin-top: 20px;
        font-size: 12px;
    }
    .blogpost-box .bp-details .catergory {
        font-size: 12px;
    }
    .main-slider-section .slider-section-text h1 {
        font-size: 24px;
    }
    .main-slider-section .slider-section-text p{
        height: 59px;
        font-size: 13px;
    }
    .main-slider-section .slider-blog {
        margin-top: 40px;
    }
    .main-slider-section .slider-blog h4 {
        font-size: 18px;
    }
    .features-blogs {
        padding-top: 160px;
        padding-bottom: 20px;   
    }
    .sec-head {
        font-size: 24px;
    }
    .features-blogs .section-heading{
        margin-bottom: 25px !important;
    }
    .side-widget.__topics-widget .topic-listing ul li a{
        font-size: 14px;
    }
    header .main-navigation .navbar-nav .nav-link{
        height: 45px;
        font-size: 13px;
        font-weight: 600;
    }
}
@media (max-width: 480px) {
    .inner-header-wrapper .inner-head h2 {
    font-size: 18px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption p{
        font-size: 13px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .date {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption .bp-btn a {
        font-size: 12px;
    }
    .blogpost-box .bp-details h2{   
        font-size: 17px !important;
    }
    .pagination a, .pagination span{
        font-size: 14px;
        width: 25px;
        height: 25px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box{
        margin: 0 2px;
    }
    .features-blogs .feature-blogs-list .feature-blog-box figure figcaption {
        padding: 22px 14px;
    }
} 


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

