


/******************************
THEME COLOR VARIBLES
***************************** */

// Primary Colors
$primary:#1b6753;
$primaryDark:#13392f;


// Secondry Colors
$secondry:#ff9d00;

$greyColorDark : #333333;
$greyColorLight : #666666;
$greyColorLightest : #eff4f3;



$whiteColor: #ffffff;
$orangeColor: #ef3d01;




%display-center{
    display: flex;
    justify-content: center;
    align-items: center;
 }

